/* testimonials.css */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.logos1-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos1-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos1-text {
  text-align: center;
}
.logos1-logo1 {
  object-fit: contain;
}
.logos1-logo2 {
  object-fit: contain;
}
.logos1-logo3 {
  object-fit: contain;
}
.logos1-logo4 {
  object-fit: contain;
}
.logos1-logo5 {
  object-fit: contain;
}
.logos1-logo6 {
  object-fit: contain;
}
@media(max-width: 767px) {
  .logos1-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos1-max-width {
    gap: var(--dl-space-space-twounits);
  }
}

/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.testimonial {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial img {
  border-radius: 9999px;
}

.testimonial h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.testimonial p {
  margin-top: 0.5rem;
  color: #4a5568;
}


.testimonial-card {
  background-color: rgba(255, 255, 255, 0.595);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px; /* Add margin here */
  transition: transform 1s ease, opacity 1s ease;
}


.testimonial-image {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0);
  visibility: hidden;
}

.slick-slide {
  padding: 1.5rem 0.5rem; /* Add padding here */
  transform: scale(0.8);
  opacity: 0.7;
  transition: transform 1s ease, opacity 1s ease;

}

.slick-active {
  transform: scale(1);
  opacity: 1;
}

/* Ensure the container has no padding so the cards align correctly */
.slick-slide > div {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Custom styles for the dots */
.slick-dots li button:before {
  font-size: 10px;
  color: transparent;
  text-align: center;
  content: "";
}

.slick-dots li button:after {
  content: '—';
  font-style: oblique;
  font-family: "coolvetica";
  font-size: 30px;
  color: rgba(128, 128, 128, 0.549);
  text-align: center;
}

.slick-dots li.slick-active button:after {
  color: black;
}

.review-btn{
  width: 35vw;
  border: 1px solid #5A6A4D;
  padding: 0.5vw;
  border-radius: 2vw;
  color: #5A6A4D;
  font-weight: 600;
}
.review-btn:hover{
  background-color: #5A6A4D;
  color: white;
}





